body {
    background-color: black;
    background-size: cover;
    color: white;
}
h1, p {
    font-family: sans-serif;
    text-align: center;
}

h2 {
    font-family: sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
}

input {
    display: block;
    margin: auto;
    width: 250px;
    padding: 5px;
    border-radius: 5px;
}

div {
    border: 2.5px solid black;
    margin: auto;
    width: 1500px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.692);
}

ul {
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#Login {
    display: block;
    margin: auto;
    width: 50px;
}

#tilly {
    display: block;
    margin: auto;
    width: 20%;
}

#navigationBar { 
    margin-right: 50cm; 
}